<h1> Libros disponibles </h1>

<table class="table">
    <thead>
        <tr>
            <th>Autor</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{libro1.autor}}</td>
            <td>{{libro1.nombre}}</td>
            <td>{{libro1.precio}}</td>
            <td>{{libro1.stock}}</td>
        </tr>
        <tr>
            <td>{{libro2.autor}}</td>
            <td>{{libro2.nombre}}</td>
            <td>{{libro2.precio}}</td>
            <td>{{libro2.stock}}</td>
        </tr>
        <tr>
            <td>{{libro3.autor}}</td>
            <td>{{libro3.nombre}}</td>
            <td>{{libro3.precio}}</td>
            <td>{{libro3.stock}}</td>
        </tr>
    </tbody>
</table>