<h1>Sobre nosotros</h1>

<div class="row">
    <div class="col-8">
        <p> Somos una empresa familiar de tres generaciones.

        Abrió por primera vez sus puertas hace más de 60 años, y fundo una empresa que siempre se destacó por su innovación y vanguardismo en el rubro.
    
        Con una fuerte distribución en todo el país, nos caracterizamos por ofrecer el mejor servicio al cliente, generando vínculos cercanos con ellos, de muchísima confianza comercial y larga durabilidad.</p>
    </div>

    <div class="col-4">
            <img class="img-fluid" src="../../assets/img/fondo.jpg">
    </div>

    <div class="col-8">
        <h3>Buscanos en nuestras redes sociales</h3>
        <a target="blank" href="https://www.facebook.com"><img id="redes" class="img-fluid" src="../../assets/img/iconoFace.jpg"></a>
        <a target="blank" href="https://www.instagram.com/"><img id="redes" class="img-fluid" src="../../assets/img/iconoInsta.jpg"></a>
    </div>
</div>